<footer class="py-5 text-center bg-light">
    <p class="m-0">Made by: <a href="">Boakai Dorbor Kamara</a></p>
    <p class="m-0">View the code at this project's <a href="">GitHub repo</a></p>
</footer>